.page-header {
  @media (max-width: $tablet-width) {
    // min-height: 100vh;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 13px;

  @media (max-width: $tablet-width) {
    padding-bottom: 25px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

.page-header__logo {
  @media (max-width: $mobile-width) {
    & svg {
      width: 52px;
      height: 52px;
    }
  }
}

.page-header__search {
  order: -1;
  min-width: 300px;
  padding: 11px 27px;
  letter-spacing: 0.05rem;
  position: relative;

  @media (max-width: $tablet-width) {
    display: none;
  }

  & input {
    font-size: 14px;
    border: none;

    &::placeholder {
      color: $basic_grey;
      letter-spacing: 0.05rem;
    }
  }

  & label {
    cursor: pointer;
    position: absolute;
    top: 13px;
    left: 0;
  }
}

.page-header__personal-area {
  min-width: 300px;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
  align-items: flex-start;

  @media (max-width: $tablet-width) {
    min-width: auto;
    width: 25px;
    padding-top: 24px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 17px;
  }

  & a {
    margin-left: 35px;

    @media (max-width: $tablet-width) {
      margin-left: 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.page-header__login,
.page-header__cart {
  text-decoration: none;
  color: $basic_black;
  word-spacing: 0.2rem;
}

.page-header__login {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__cart {
  & span {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  & svg {
    display: none;

    @media (max-width: $tablet-width) {
      display: block;
    }
  }
}

.page-header__menu {
  border-top: 1px solid $border;
}

.page-header__menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
}

.page-header__menu-link {
  text-decoration: none;
  color: $basic_black;
  margin: 0 18px;
}

.page-header__menu-button {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    width: 25px;
    height: 25px;
    border: none;
    padding: 0;
    background-color: transparent;
    order: -1;
    margin-top: 22px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 15px;
  }
}

// close

.page-header--close-menu .page-header__menu {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header--close-menu .page-header__close-btn {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header--close-menu .page-header__open-btn {
  @media (max-width: $tablet-width) {
    display: inline-block;
  }
}

// open

.page-header--open-menu {
  @media (max-width: $tablet-width) {
    background-color: $basic_white;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
  }
}

.page-header--open-menu .page-header__menu-button {
  @media (max-width: $tablet-width) {
    background-color: transparent;
  }
}

.page-header--open-menu .page-header__open-btn {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header--open-menu .page-header__close-btn {
  @media (max-width: $tablet-width) {
    display: inline-block;
  }
}

// no-js

.page-header--nojs {
  @media (max-width: $tablet-width) {
    display: block;
    position: static;
  }
}

.page-header--nojs .page-header__menu-button {
  @media (max-width: $tablet-width) {
    // display: none;
  }
}

.page-header--nojs .page-header__menu {
  @media (max-width: $tablet-width) {
    display: none; // display: block;
  }
}
