.page-footer {
  background-color: $special_black;
  min-height: 338px;
  color: $basic_white;
}

.page-footer__wrapper {
  display: flex;
  padding-top: 62px;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    padding-top: 22px;
    justify-content: space-between;
    padding-bottom: 34px;
  }
}

.page-footer__mailing-box {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 15px;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.page-footer__mailing-title {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.02em;
  margin-bottom: 10px;

  @media (max-width: $mobile-width) {
    margin-right: 50px;
    margin-bottom: 14px;
  }
}

.page-footer__mailing {
  max-width: 500px;
  border-bottom: 1px solid $basic_white;

  @media (max-width: $tablet-width) {
    max-width: 561px;
  }

  & label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: $basic_grey;
    display: block;
    margin-bottom: 34px;

    @media (max-width: $mobile-width) {
      margin-right: 50px;
    }
  }

  & input {
    background-color: transparent;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $basic_grey;
    padding: 10px 0 8px;
    letter-spacing: 0.06em;
    width: calc(100% - 110px);

    &::placeholder {
      color: $basic_grey;
    }
  }

  & button {
    font-family: "Poppins", "Verdana", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: $basic_white;
    padding: 0 0 0 3px;
    background-color: transparent;
    border: none;
    height: 24px;

    & svg {
      margin-left: 7px;
    }
  }
}

.page-footer__menu {
  flex-grow: 1;
  padding-top: 34px;
  margin-right: 5px;

  @media (max-width: $tablet-width) {
    padding-top: 46px;
    flex-grow: 0;
  }
}

.page-footer__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 75px;
  column-count: 2;

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    column-count: auto;
  }

  & li {
    margin-bottom: 21px;

    @media (max-width: $tablet-width) {
      &:first-child {
        margin-right: 75px;
      }
    }

    @media (max-width: $mobile-width) {
      &:nth-child(4n) {
        margin-bottom: 41px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.page-footer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $basic_white;
  text-decoration: none;
}

.page-footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 120px;
  padding-top: 34px;

  @media (max-width: $tablet-width) {
    padding-top: 46px;
    position: relative;
    left: -105px;
  }

  @media (max-width: $mobile-width) {
    left: -10px;
    display: flex;
    padding-top: 42px;
  }

  & li {
    margin-bottom: 21px;
  }
}

.page-footer__social-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $basic_white;
  text-decoration: none;
  padding-left: 35px;
  position: relative;

  @media (max-width: $mobile-width) {
    padding-left: 0;
    width: 25px;
    height: 25px;
    display: block;
    margin-right: 24px;

    & span {
      display: none;
    }
  }

  & svg {
    position: absolute;
    top: 3px;
    left: 5px;

    @media (max-width: $mobile-width) {
      width: 21px;
      height: 21px;
    }
  }
}
