.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 13px;

  @media (max-width: $tablet-width) {
    padding-bottom: 25px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

.page-header__logo {
  color: $basic_brown;

  @media (max-width: $mobile-width) {
    & svg {
      width: 52px;
      height: 52px;
    }
  }
}

.page-header__search {
  order: -1;
  min-width: 300px;
  padding: 11px 27px;
  letter-spacing: 0.05rem;
  position: relative;

  @media (max-width: $tablet-width) {
    display: none;
    padding: 35px 0 0;
  }

  & input {
    font-size: 14px;
    border: none;
    background-color: rgba($basic_white, 0.15);
    color: $basic_white;

    @media (max-width: $tablet-width) {
      width: 100%;
      height: 40px;
      border-radius: 21px;
      padding: 0 40px;
    }

    &::placeholder {
      color: $basic_grey;
      letter-spacing: 0.05rem;

      @media (max-width: $tablet-width) {
        font-size: 0;
      }
    }
  }

  & label {
    cursor: pointer;
    position: absolute;
    top: 13px;
    left: 0;

    &:focus svg,
    &:hover svg {
      color: $basic_brown;
    }

    @media (max-width: $tablet-width) {
      top: 47px;
      left: 57px;
    }

    @media (max-width: $mobile-width) {
      top: 39px;
      left: 27px;
    }

    & svg {
      color: $special_black;

      @media (max-width: $tablet-width) {
        color: $basic_white;
        width: 16px;
        height: 16px;
      }
    }
  }
}

.page-header__personal-area {
  min-width: 300px;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
  align-items: flex-start;

  @media (max-width: $tablet-width) {
    min-width: auto;
    width: 25px;
    padding-top: 24px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 17px;
  }

  & a {
    margin-left: 35px;

    &:hover,
    &:focus {
      color: $basic_brown;
    }

    @media (max-width: $tablet-width) {
      margin-left: 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.page-header__login,
.page-header__cart {
  text-decoration: none;
  color: $basic_black;
  word-spacing: 0.2rem;
}

.page-header__login {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__cart {
  & span {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  & svg {
    display: none;

    @media (max-width: $tablet-width) {
      display: block;
      color: $basic_black;
    }
  }
}

.page-header__menu {
  border-top: 1px solid $border;

  @media (max-width: $tablet-width) {
    border: none;
    padding-top: 33px;
    padding-left: 2px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
  }
}

.page-header__menu-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 11px;
  padding-left: 25px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding-bottom: 1px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}

.page-header__menu-link {
  text-decoration: none;
  color: $basic_black;
  margin: 0 18px 9px;
  display: block;

  &:hover,
  &:focus {
    color: $basic_brown;
  }

  @media (max-width: $tablet-width) {
    color: $basic_white;
    font-size: 24px;
    margin-bottom: 36px;
    display: block;
  }

  @media (max-width: $mobile-width) {
    margin-left: 13px;
  }
}

.page-header__menu-button {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    width: 25px;
    height: 25px;
    border: none;
    padding: 0;
    background-color: transparent;
    order: -1;
    margin-top: 22px;
    color: $basic_black;
  }

  @media (max-width: $mobile-width) {
    margin-top: 15px;
  }
}

.page-header__sup-menu {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    list-style: none;
    font-size: 18px;
    margin: 3px 0;
    padding-left: 43px;

    & li {
      margin-bottom: 22px;
    }

    & a {
      text-decoration: none;
      color: $basic_white;
    }
  }

  @media (max-width: $mobile-width) {
    padding-left: 13px;
  }
}

.page-header__login-mobile {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    list-style: none;
    font-size: 18px;
    margin: 47px 0 75px;
    padding-left: 43px;
    text-decoration: none;
    color: $basic_white;
  }

  @media (max-width: $mobile-width) {
    margin-top: 37px;
    padding-left: 13px;
  }
}

// close

.page-header--close-menu .page-header__menu {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

// open

.page-header--open-menu {
  @media (max-width: $tablet-width) {
    background-color: $basic_brown;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    overflow-y: scroll;
    min-height: 100vh;
  }
}

.page-header--open-menu .page-header__menu {
  @media (max-width: $tablet-width) {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 176px;
    z-index: 1;
    background-color: $basic_brown;
  }
}

.page-header--open-menu .page-header__wrapper {
  flex-wrap: wrap;
}

.page-header--open-menu .page-header__logo {
  @media (max-width: $tablet-width) {
    color: $basic_white;
  }
}

.page-header--open-menu .page-header__menu-button svg {
  color: $basic_white;
}

.page-header--open-menu .page-header__cart svg {
  color: $basic_white;
}

.page-header--open-menu .page-header__search {
  @media (max-width: $tablet-width) {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 101px;
    padding-left: 45px;
    padding-right: 45px;
    z-index: 1;
    background-color: $basic_brown;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 27px;
    top: 75px;
  }
}

// no-js

.page-header--nojs {
  @media (max-width: $tablet-width) {
    display: block;
    position: static;
    background-color: $basic_brown;
  }
}

.page-header--nojs .page-header__wrapper {
  @media (max-width: $tablet-width) {
    flex-wrap: wrap;

    &::before {
      content: "";
      width: 25px;
      height: 1px;
    }
  }
}

.page-header--nojs .page-header__logo {
  @media (max-width: $tablet-width) {
    color: $basic-white;
  }
}

.page-header--nojs .page-header__menu-button {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header--nojs .page-header__search {
  @media (max-width: $tablet-width) {
    background-color: $basic_brown;
    position: static;
    display: block;
    order: 1;
    width: 100%;

    & label {
      top: 148px;
    }
  }

  @media (max-width: $mobile-width) {
    min-width: auto;
    padding-top: 25px;
    padding-bottom: 11px;

    & label {
      top: 114px;
    }
  }
}

.page-header--nojs .page-header__cart svg {
  @media (max-width: $tablet-width) {
    color: $basic_white;
  }
}

.page-header--nojs .page-header__menu {
  @media (max-width: $tablet-width) {
    display: block;
    background-color: $basic_brown;
    padding-top: 8px;
  }
}
