.promo {
  min-height: 463px;
  background-color: $basic_brown;
  background-image: url("../img/bg-promo@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $basic_white;
  position: relative;
  filter: drop-shadow(0 4px 4px rgba($special_black, 0.25));

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($filter, 0.7);
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-promo@2x.jpg");
  }
}

.promo__wrapper {
  padding-top: 182px;
  position: relative;
  z-index: 1;

  @media (max-width: $tablet-width) {
    padding-right: 64px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 15px;
    padding-top: 188px;
  }
}

.promo__title {
  font-size: 44px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    font-size: 38px;
  }
}

.promo__paragraph {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 38px;
  line-height: 100%;
  text-align: center;
  margin-top: 0;

  @media (max-width: $mobile-width) {
    font-size: 34px;
  }
}

.promo--catalog {
  min-height: 261px;
  background-image: url("../img/bg-promo-catalog@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-promo-catalog@2x.jpg");
  }

  & .promo__wrapper {
    padding-top: 92px;

    @media (max-width: $tablet-width) {
      padding-right: 44px;
    }

    @media (max-width: $mobile-width) {
      padding-right: 15px;
      padding-top: 79px;
    }
  }

  & .promo__title {
    font-size: 32px;
    letter-spacing: 0.07rem;
    margin-bottom: 8px;
  }

  & .promo__paragraph {
    font-size: 22px;

    @media (max-width: $mobile-width) {
      line-height: 110%;
    }
  }
}
