img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &--catalog {
    display: grid;
    grid-template-columns: min-content 1fr;

    @media (max-width: $tablet-width) {
      display: block;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.title {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  margin: 0;
}
