$basic_white: #ffffff;
$basic_black: #000000;
$dark: #131314;
$grey: #c9ccd4;
$turquoise: #0ad9c6;
$placeholder: #1c1c1c;
$grey_dark: #48494d;
$grey_bg: #f6f6f6;
$title: #1f1f1f;
$light_bg: #f6f7f9;
$hover_btn: #a3d9db;

$mobile-width: 767px;
$tablet-width: 1023px;
