$basic_white: #ffffff;
$basic_black: #1d1613;
$special_black: #000000;
$basic_brown: #a87b62;
$basic_grey: #9b9997;
$border: #f6f5f4;
$filter: #564034;
$bg_light: #f0eae4;

$mobile-width: 767px;
$tablet-width: 1023px;
